<style>

.carousel-item, .carousel-item img{
    height: 500px;
}
    
</style>

<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel" style="height: 710px;">
    <div class="carousel-inner" class="carouselHolder">
      <div class="carousel-item active">
        <img src="/img/samplePrint_1.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="/img/samplePrint_2.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="/img/samplePrint_3.jpg" class="d-block w-100" alt="...">
      </div>
    </div>
    <a class="carousel-control-prev" type="button" 
    data-bs-target="#carouselExampleControls"  
    data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    </a>
    <a class="carousel-control-next" type="button" 
    data-bs-target="#carouselExampleControls"  
    data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
    </a>
</div>


<!-- <div class="indexLatestsProducts m-5">
  <h3>Les derniers produits sortis ></h3>
  <div class="row">
    <div class="col">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    </div>
    <% latest.forEach(product => { %> 
        <a href="/shop/product/<%= product._id %>" class="col productHolder mb-4">
            <img class="productImg" src="/img/<%= product.pathImg %>" alt="product_1">
            <div class="productShadow">
              <p class="productTip">Nouveau</p>
              <p class="productTitle"> <%= product.name %> </p>
              <p class="productPrice btn-context"><%= product.price %>€</p>
            </div>
        </a>
    <% }) %>
    <div class="col">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
    </div>
  </div>
</div> -->

<div class="indexLatestProducts m-5">
  <h3>Les dernières sorties</h3>
  <div id="carouselLatest" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner container">

      <div class="carousel-item carousel-item-context active">

        <div class="row">
          <% latest.forEach(product=> { %>
            <a href="/shop/product/<%= product._id %>" style="height: 250px;" class="col productHolder">
      
              <img class="productImg" src="/img/<%= product.pathImg %>" alt="product_1">
      
              <div class="productShadow">
                <p class="productTip"> Nouveau </p>
                <p class="productTitle"> <%= product.name %> </p>
                <p class="productPrice btn-context"> <%= product.price %>€ </p>
              </div>
            </a>
          <% }) %>
        </div>

      </div>

      <div class="carousel-item carousel-item-context">
        <div class="row">
          <% latest_2.forEach(product=> { %>
            <a href="/shop/product/<%= product._id %>" style="height: 250px;" class="col productHolder">
      
              <img class="productImg" src="/img/<%= product.pathImg %>" alt="product_1">
      
              <div class="productShadow">
                <p class="productTip"> Nouveau </p>
                <p class="productTitle"> <%= product.name %> </p>
                <p class="productPrice btn-context"> <%= product.price %>€ </p>
              </div>
            </a>
          <% }) %>
        </div>
      </div>

      <div class="carousel-item carousel-item-context">
        <div class="row row-cols-3">
          <% latest_3.forEach(product=> { %>
            <a href="/shop/product/<%= product._id %>" style="height: 250px;" class="col productHolder">
      
              <img class="productImg" src="/img/<%= product.pathImg %>" alt="product_1">
      
              <div class="productShadow">
                <p class="productTip"> Nouveau </p>
                <p class="productTitle"> <%= product.name %> </p>
                <p class="productPrice btn-context"> <%= product.price %>€ </p>
              </div>
            </a>
          <% }) %>
        </div>
      </div>

      
      <!-- <% latest.forEach(product => { %> 
        <a href="/shop/product/<%= product._id %>" 
          style="height: 250px;" class="col productHolder">

          <img class="productImg" src="/img/<%= product.pathImg %>" alt="product_1">

          <div class="productShadow">
            <p class="productTip">Nouveau</p>
            <p class="productTitle"> <%= product.name %> </p>
            <p class="productPrice btn-context"><%= product.price %>€</p>
          </div>
        </a>
      <% }) %> -->
        
        
      <a class="left carousel-control-prev" href="#carouselLatest"
      data-bs-slide="prev" role="button">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      </a>
      
      <a class="right carousel-control-next" href="#carouselLatest"
      data-bs-slide="next" role="button">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      </a>
  </div>
</div>
</div>

<div class="indexBestSellersProducts m-4">
  <h3>Les meilleures ventes ></h3>
  <div class="row">
    <% bestseller.forEach(product => { %> 
        <a href="/shop/product/<%= product._id %>" class="col productHolder mb-4">
            <img class="productImg" src="/img/<%= product.pathImg %>" alt="product_1">
            <div class="productShadow">
              <p class="productTip">Super cool</p>
              <p class="productTitle"> <%= product.name %> </p>
              <p class="productPrice btn-context"><%= product.price %>€</p>
            </div>
        </a>
    <% }) %>
  </div>
</div>

<div class="indexBestSellersProducts m-5">
  <h3>Bientôt plus en stock ></h3>
  <div class="row">
    <div class="col">

    </div>
    <% lowstock.forEach(product => { %> 
        <a href="/shop/product/<%= product._id %>" class="col productHolder mb-4">
            <img class="productImg" src="/img/<%= product.pathImg %>" alt="product_1">
            <div class="productShadow">
              <p class="productTip">Plus que <%= product.qty %></p>
              <p class="productTitle"> <%= product.name %> </p>
              <p class="productPrice btn-context"><%= product.price %>€</p>
            </div>
        </a>
    <% }) %>
    <div class="col">

    </div>
  </div>
</div>

