<!-- <style>

    .text{

        color: black;
        background: whitesmoke;
    }

     .add{
        height: 50px;
        border-top-left-radius: 20px; 
        border-bottom-right-radius: 20px; 
        text-align: center;
     }

     .bio{
         border-radius: 10px;
         width: 90%;
     }
</style>


<div class="w-25" style="background: gray; height: 150px;">

    <div class="row" style="height: 75px;">
        <div class="col-4">img</div>
        <div class="col-8">
            <div class="row">
                <div class="col-8">nom prenom</div>
                <div class="col-4">filière</div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-4">
            <p class="add text">Ajouter</p>
        </div>
        <div class="col-8 bio text">bio</div>
    </div>

</div>

 -->




<script>
    function affQtyValidation(id) {
        console.log(id)
        var targetHide = document.getElementById(id + '_holder')
        var targetAff = document.getElementById(id + '_btn')
        
        targetHide.style.display = 'none'
        targetAff.style.display = 'block'
    }

    function setQtyValidation() {
        var targetHide = document.getElementById('cartUpdateQtyBtnPlaceHolder')
        var targetAff = document.getElementById('cartUpdateQtyBtn')

        targetHide.style.display = 'block'
        targetAff.style.display = 'none'
    }
</script>

<div class="container">
    <div class="row">


        <div class="col-8">
            <% if (cartList.length > 0) { %>
                <% cartList.forEach(product => { %>

                <form action="/cart/cartAction" method="POST" class="row cartProductHolder">
                    <input type="text" hidden name="cartProductID" value="<%= product._id %>">
                    <div class="col-3">
                        <img height="90px" src="/img/products/<%= product.product.pathImg %>">
                    </div>

                    <div class="col-6">
                        <p><%= product.name %></p>
                        <div class="col-3 row input-group w-75">
                            <span class="col input-group-text darkInput">
                                <strong><%= product.product.price %>&euro;</strong>
                            </span>
                            <span class="col-1 input-group-text darkInput">x</span>

                            <input type="number" min="1" 
                            onmouseup="affQtyValidation(cartProductID.value)"
                            class="col-1 form-control darkInput w-25" 
                            value="<%= product.qty %>"
                            name="newQty"
                            placeholder="Qté" aria-label="Qté" id="inputCartItemQty"
                            aria-describedby="basic-addon1">

                            <div id="<%= product._id %>_holder" 
                            class="col-5"></div>

                            <button id="<%= product._id %>_btn"
                            name="cartActionSubmit"
                            onclick="setQtyValidation(cartProductID.value)"
                            class="col-5 btn btn-context" style="display: none;"
                            type="submit" value="update"> 
                                Valider
                            </button>
                        </div>
                    </div>


                    <div class="col-3" style="text-align: center;">
                        <p> <%= product.product.price * product.qty %>€  </p>
                        <button class="btn btn-danger"
                        name="cartActionSubmit" type="submit" 
                        value="delete"> 
                            Suppr
                        </button>
                    </div>

                </form>
                <% }) %>
            <% } else { %>
                <p>Panier vide</p>
            <% } %>
        </div>

        <div class="col-4">
            <form action="/cart/cartPayment" method="POST" class="container-fluid totalCart">
                <p>Total: 
                <% var totalPrice = 0 %>
                <% cartList.forEach(element => { totalPrice = totalPrice + element.totalPrice }) %> 
                <%= totalPrice %>€
                </p>

                <button type="submit" class="btn btn-context col-6">Payer</button>
            </form>
        </div>
    
    </div>
</div>