<div class="row justify-content-center">

    <!-- --------------------- NAME ------------------------------  -->
    <div class="form-floating col-7 p-1 mt-3">
        <input type="text" class="form-control darkInput" min="0" value="<%= currentOptions.productFilterName %>"
        id="floatingProductName" placeholder="0" name="productFilterName">

        <label class="label-context darkLabel" for="floatingProductName">Nom</label>
    </div>

    <!-- --------------------- SORT ------------------------------  -->
    <div class="form-floating col-5 p-1 mt-3">
        <select class="form-select darkSelect" name="productFilterSort" id="floatingFilterSort">

            <option value="/">-</option>

            <% sortValues.forEach(sort => { %> 
                <% if (sort[1].value == currentOptions.productFilterSort) { %>
                    <option selected value="<%= sort[1].value %>"><%= sort[0].name %></option>
                <% } else { %>
                    <option value="<%= sort[1].value %>"><%= sort[0].name %></option>
                <% } %>
           <% }) %> 


            <!-- <option value="by_price_desc">Prix ↓</option>
            <option value="by_price_asc">Prix ↑</option>
            
            <option value="by_upload_desc">Mise en ligne ↓</option>
            <option value="by_upload_asc">Mise en ligne ↑</option>
            
            <option value="by_qty_desc">Quantité restante ↓</option>
            <option value="by_qty_asc">Quantité restante ↑</option>
            
            <option value="by_rating_desc">Note ↓</option>
            <option value="by_rating_asc">Note ↑</option> -->
        </select>

        <label class="label-context darkLabel" for="floatingFilterSort">Trier par:</label>
    </div>

    <!-- --------------------- PRICE ------------------------------  -->
    <div class="form-floating col-6 p-1 mt-3">
        <input type="number" class="form-control darkInput" min="0" value="<%= currentOptions.productFilterMinPrice %>"
        id="floatingMinPrice" placeholder="0" name="productFilterMinPrice">

        <label class="label-context darkLabel" for="floatingMinPrice">Prix min</label>
    </div>

    <div class="form-floating col-6 p-1 mt-3">
        <input type="number" class="form-control darkInput" min="0" value="<%= currentOptions.productFilterMaxPrice %>"
        id="floatingMaxPrice" placeholder="0" name="productFilterMaxPrice">

        <label class="label-context darkLabel" for="floatingMaxPrice">Prix max</label>
    </div>

    <!-- --------------------- DIMENSIONS ------------------------------  -->
    <div class="form-floating col-4 p-1 mt-3">
        <input type="number" class="form-control darkInput" min="0" value="<%= currentOptions.productFilterHeight %>"
        id="floatingHeight" placeholder="0" name="productFilterHeight">

        <label class="label-context darkLabel" for="floatingHeight">Hauteur</label>
    </div>

    <div class="form-floating col-4 p-1 mt-3">
        <input type="number" class="form-control darkInput" min="0" value="<%= currentOptions.floatingFilterWidth %>"
        id="floatingWidth" placeholder="0" name="floatingFilterWidth">

        <label class="label-context darkLabel" for="floatingWidth">Largeur</label>
    </div>

    <div class="form-floating col-4 p-1 mt-3">
        <input type="number" class="form-control darkInput" min="0" value="<%= currentOptions.floatingFilterLenght %>"
        id="floatingLenght" placeholder="0" name="floatingFilterLenght">

        <label class="label-context darkLabel" for="floatingLenght">Longueur</label>
    </div>
    
    <div class="container m-3">
        <div class="col-12 form-check form-switch">

            <% if (currentOptions.productFilterIsStock == 'on') { %> 
                <input type="checkbox" checked name="productFilterIsStock"
                id="productIsStock" class="form-check-input" >
            <% } else { %> 
                <input type="checkbox" name="productFilterIsStock"
                id="productIsStock" class="form-check-input" >
            <% } %>             
            <label class="form-check-label" 
            for="productIsStock">En stock uniquement</label>
        </div>
    </div>
</div>